In [5]:
import pandas as pd

data = pd.read_csv('/home/feijo/Documents/Treinamento/iris.csv', names=['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class'])
data.head()

# class 1 = setosa

   sepal_length  sepal_width  petal_length  petal_width  class
0           5.1          3.5           1.4          0.2      1
1           4.9          3.0           1.4          0.2      1
2           4.7          3.2           1.3          0.2      1
3           4.6          3.1           1.5          0.2      1
4           5.0          3.6           1.4          0.2      1

In [8]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
data['class'] = le.fit_transform(data['class'])
data.head()

#Dividir recursos e rotular e transform√°-los em um Numpy Array
# meu data set ja estava com rotulo em numeral

   sepal_length  sepal_width  petal_length  petal_width  class
0           5.1          3.5           1.4          0.2      0
1           4.9          3.0           1.4          0.2      0
2           4.7          3.2           1.3          0.2      0
3           4.6          3.1           1.5          0.2      0
4           5.0          3.6           1.4          0.2      0

In [17]:
import numpy as np

X = np.array(data.drop(['class'], axis=1))
y = np.array(data['class'])

In [10]:
from sklearn.linear_model import LogisticRegression

clf = LogisticRegression()
clf.fit(X, y)

/home/feijo/.local/lib/python3.5/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/home/feijo/.local/lib/python3.5/site-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [22]:
accuracy = clf.score(X, y)
accuracy

0.96

In [19]:
accuracy

0.96